@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-size: 10px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    /*font-family: 'Fira Sans', sans-serif;*/
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;
    margin-bottom: 200px;
}

/*===== NAVBAR =====*/

.logo {
    width: 25rem;
}

.navbar {
    background-color: #6ca9e4;
    padding: 0;
    margin: 0;
}

.navbar h4 {
    padding: 1rem;
    font-size: 1.8rem;
}

.navbar-toggler {
    margin: 0 10px 0 0;
}

.navbar-toggler-icon {
    width: 3em;
    height: 3em;
}

.navbar-collapse {
    text-align: end;
}

/*===== FORMS =====*/
.card-form {
    margin: 2rem auto 1rem;
}

/*===== FLASH MESSAGES =====*/
.flashes h4 {
    line-height: 2;
    text-align: center;
    margin: 4rem auto;
    background-color: #DDD;
    font-size: 2rem;
    width: 100%;
}

/*===== Recipe Cards =====*/

.recipes-card {
    color: #f8f9fa;
    box-shadow: 0 1px 3px rgba(22, 71, 118, 0.12), 0 1px 2px rgba(22, 71, 118, 0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    width: 100%;
    color: #f8f9fa;
}

.recipes-card:hover {
    box-shadow: 0 5px 5px rgba(22, 71, 118, 0.19), 0 6px 6px rgba(22, 71, 118, 0.23);
}

.card img {
    width: 100%;
}

.card-body {
    background-color: #e46ca9;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1.25rem;
    font-family: 'Fira Sans', sans-serif;
}

/*===== FOOTER =====*/
.footer {
    background-color: #6ca9e4;
}

.farewell-message {
    padding: 1rem;
}

.social-icon {
    text-decoration: none;
    font-size: 3rem;
    color: #f8f9fa;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1rem;
}

.copyright {
    background-color: #e46ca9;
}

.copyright p {
    font-size: 1.4rem;
    padding: 1rem;
    margin: 1rem 0;
}

.github {
    text-decoration: none;
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    color: #f8f9fa;
}

.github:hover,
.social-icon:hover {
    transition: all 0.6s ease-in-out;
    transform: rotate(360deg);
    color: #164776;
}

/*===== FADE (Header & Footer) =====*/

.fade_down {
    height: 50px;
    background-image: linear-gradient(to bottom, rgb(108, 169, 228, 1), rgb(248, 249, 250, 0));
}

.fade_up {
    height: 50px;
    background-color: rgb(248, 249, 250, 0) !;
    background-image: linear-gradient(to top, rgb(108, 169, 228, 1), rgb(248, 249, 250, 0));
}

/* COLOR --> Pink: #e46ca9  Blue: #6ca9e4 */