@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-size: 10px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    /*font-family: 'Fira Sans', sans-serif;*/
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;
    margin-bottom: 200px;
}

h3 {
    font-size: 2rem;
    color: #e46ca9;
}

/*===== NAVBAR =====*/
.logo {
    width: 25rem;
}

.navbar {
    background-color: #6ca9e4;
    padding: 0;
    margin: 0;
}

.navbar h4 {
    padding: 1rem;
    font-size: 1.8rem;
}

.navbar-toggler {
    margin: 0 10px 0 0;
}

.navbar-toggler-icon {
    width: 3em;
    height: 3em;
}

.navbar-collapse {
    text-align: end;
}

/*===== FORMS =====*/
.card-form {
    margin: 2rem auto 1rem;
}

/*===== BUTTONS =====*/
.btn-outline-dark {
    border-color: #e46ca9;
    color: #e46ca9;
}

.btn-outline-dark:hover {
    background-color: #e46ca9;
    border-color: #e46ca9;
    color: #f8f9fa;
}

.login-register-btn {
    margin-top: 10px;
}

/*===== FLASH MESSAGES =====*/
.flashes h4 {
    line-height: 2;
    text-align: center;
    margin: 4rem auto;
    background-color: #DDD;
    font-size: 2rem;
    width: 100%;
}

/*===== SEARCH =====*/
.search-card {
    width: 50%;
}

.search-input {
    color: #e46ca9;
}

/*===== Recipe Cards =====*/
.card {
    width: 100%;
    background-color: #f8f9fa;
    color: #e46ca9;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1.25rem;
}

.cook-button,
.edit-button,
.delete-button {
    width: 7rem;
}

/*===== READ RECIPE (cook.html) =====*/
.cook-image {
    width: 25%;
}

.cook-description {
    padding: 10px 25% 10px 25%;
}

/*===== FOOTER =====*/
.footer {
    background-color: #6ca9e4;
}

.farewell-message {
    padding: 1rem;
}

.social-icon {
    text-decoration: none;
    font-size: 3rem;
    color: #f8f9fa;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1rem;
}

.copyright {
    background-color: #e46ca9;
}

.copyright p {
    font-size: 1.4rem;
    padding: 1rem;
    margin: 1rem 0;
}

.github {
    text-decoration: none;
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    color: #f8f9fa;
}

.github:hover,
.social-icon:hover {
    transition: all 0.6s ease-in-out;
    transform: rotate(360deg);
    color: #164776;
}

/*===== LOGIN/REGISTER & RECIPES MISSING =====*/
.p-message {
    color: #e46ca9;
    font-size: 1.2rem;
}

.login-or-register,
.create-myrecipe {
    text-decoration: none;
    font-size: 1.2rem;
    color: #f8f9fa;
    background-color: #e46ca9;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.login-or-register:hover,
.create-myrecipe:hover {
    color: #f8f9fa;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

/*===== FADE (Header & Footer) =====*/

.fade_down {
    height: 50px;
    background-image: linear-gradient(to bottom, rgb(108, 169, 228, 1), rgb(248, 249, 250, 0));
}

.fade_up {
    height: 50px;
    background-color: rgb(248, 249, 250, 0) !;
    background-image: linear-gradient(to top, rgb(108, 169, 228, 1), rgb(248, 249, 250, 0));
}

/* COLOR --> Pink: #e46ca9  Blue: #6ca9e4 */