{% extends "base.html" %}
{% block content %}

<h3 class="text-center p-3">{{recipe.name}}</h3>
<p class="text-center">by <em>{{recipe.created_by}}</em></p>

<div class="container">
    <div class="row">
        <div class="col-sm-12 p-3 text-center">
            <img src="{{recipe.image_url}}" class="cook-image" alt="food item">
            <p class="cook-description">{{recipe.desc}}</p>
        </div>
    </div>
    <div class="row">
        <!-- Ingredients-->
        <div class="col-sm-4 p-3 text-center">
            <h3>Ingredients</h3>
            {% for x in ingredients %}
            <p>
                {% for y in x %}
                {{y}}
                {% endfor %}
            </p>
            {% endfor %}
        </div>
        <!-- Instructions -->
        <div class="col-8 p-3 text-center">
            <h4>Instructions</h4>
            {% for step in recipe.instructions %}
            <p class="cook-description">
                {{ step }}
            </p>
            {% else %}
            <p>
                No Instructions
            </p>
            {% endfor %}
        </div>
    </div>
    <div class="text-center">
        {% if recipe.created_by|lower == session["user"]|lower %}
        <a class="" href="{{ url_for('edit_recipe', id=recipe._id) }}">
            <img src="{{ url_for('static', filename='images/edit_button.png') }}" class="edit-button" alt="edit button">
        </a>
        <a class="" href="{{ url_for('delete_recipe', id=recipe._id) }}">
            <img src="{{ url_for('static', filename='images/delete_button.png') }}" class="delete-button"
                alt="delete button">
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}