{% extends "base.html" %}
{% block content %}

<h3 class="text-center p-3">{{recipe.name}}</h3>

<div class="container pb-5">
    <div class="row">

        <div class=".col-md-6 .offset-md-3">
            <!-- ===== IMAGE & DESCRIPTION ===== -->
            <div class="text-center image-creator-decription">
                <img src="{{recipe.image_url}}" class="cook-image" alt="food item">
                <p class="text-center">Created by <em>{{recipe.created_by}}</em></p>
                <p class="recipe-description">{{recipe.desc}}</p>
            </div>
        </div>
        <div class="col-md-6 card">
            <!-- ===== Ingredients ===== -->
            <div class="ingredients-list">
                <h3 class="recipe-header"> Ingredients </h3>
                <div class="decoration-line"></div>
                <ul>
                    {% for x in ingredients %}
                    <li>
                        {% for y in x %}
                        {{y}}
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- ===== INSTRUCTIONS ===== -->
            <div class="instructions-list">
                <h3 class="recipe-header"> Instructions </h3>
                <div class="decoration-line"></div>
                <ol>
                    {% for step in recipe.instructions %}
                    <li>
                        {{ step }}
                    </li>
                    {% else %}
                </ol>
                <p>
                    No Instructions
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="text-center">
        {% if recipe.created_by|lower == session["user"]|lower %}
        <a href="{{ url_for('edit_recipe', id=recipe._id) }}">
            <img src="{{ url_for('static', filename='images/edit_button.png') }}" class="edit-button" alt="edit button">
        </a>
        <a href="{{ url_for('delete_recipe', id=recipe._id) }}">
            <img src="{{ url_for('static', filename='images/delete_button.png') }}" class="delete-button"
                alt="delete button">
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}