{% extends "base.html" %}
{% block content %}

<h3 class="text-center">Create Recipe</h3>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-6" id="ingredient">
                    <input type="text" name="survey_options[]" class="form-control" placeholder="What ingredient?"
                        required>
                </div>
                <div class="col-6" id="measurement">
                    <input type="text" name="survey_options[]" class="form-control" placeholder="How Much?" required>
                </div>
            </div>
            <div class="controls">
                <a id="add_more_ingredients" href="#"><i class="fa fa-plus"></i>Add More</a>
                <a id="remove_ingredients" href="#"><i class="fa fa-plus"></i>Remove Field</a>
            </div>
        </div>
        <div class="col-8">
            <div class="">
                <input type="text" class="form-control" placeholder="image url">
            </div>
            <div class="">
                <input type="text" class="form-control" placeholder="recipe name">
            </div>
            <div class="">
                <input type="text" class="form-control" placeholder="description">
            </div>
        </div>
        <div class="col-12">
            <div class="" id="step">
                <input type="text" name="survey_options[]" class="form-control" placeholder="Step" required>
            </div>
            <div class="controls">
                <a id="add_step" href="#"><i class="fa fa-plus"></i>Add More</a>
                <a id="remove_step" href="#"><i class="fa fa-plus"></i>Remove Field</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}