{% extends "base.html" %}
{% block content %}

<h3 class="text-center p-3">{{ username }}'s Recipes</h3>

<div class="container recipe">
    <div class="row">
        {% for recipes in recipes %}
        {% include 'recipe_cards.html' %}
        {% else %}
        <div class="d-flex justify-content-center p-3">
            <p class="m-1 p-message">
                There is nothing here! Fancy creating a recipe?
            </p>
            <a class="m-1 create-myrecipe" href="{{ url_for('create_recipe') }}">Create</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}