{% extends "base.html" %}
{% block content %}

<h3 class="text-center">{{ username }}'s Recipes</h3>

<div class="container recipe">
    <div class="row">
        {% for recipes in recipes %}
        {% if session.user|lower == recipes.created_by|lower %}
        <div class="col-sm-4">
            <div class="card recipes-card">
                <img src="{{recipes.image_url}}" class="card-img-top" alt="food item">
                <div class="card-body">
                    <h5 class="card-title">{{recipes.name}}</h5>
                    <p class="card-text">
                        {{recipes.desc}}
                    </p>
                    <p>
                        <em>
                            Created by: {{recipes.created_by}}
                        </em>
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}