{% extends "base.html" %}
{% block content %}

<h3 class="text-center">{{ username }}'s Recipes</h3>

<div class="container recipe">
    <div class="row">
        {% for recipes in recipes %}
        {% include 'recipe_cards.html' %}
        {% else %}
        <p>
            Fancy creating a recipe?
        </p>
        <a href="{{ url_for('create_recipe') }}">
            <img src="{{ url_for('static', filename='images/create_button.png') }}" class="logo" alt="Logo">
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}