{% extends "base.html" %}
{% block content %}

<div class="container search-container m-3">
    <form action="{{ url_for('search') }}" method="post" class="text-center">
        <div class="">
            <div class="search-input p-3">
                <label for="query">Search Tasks</label>
                <input type="text" name="query" id="query" minlength="3" class="" required>
            </div>
            <div class="search-buttons">
                <a href="{{ url_for('get_recipes') }}" class="btn btn-outline-dark">Reset</a>
                <button type="submit" class="btn btn-outline-dark">Search</button>
            </div>
        </div>
    </form>
</div>

{% if recipes|length > 0%}
<div class="container pb-5">
    <div class="row">
        {% for recipes in recipes %}
        {% include '/recipe_cards.html' %}
        {% else %}
        <p>
            Seems we have had a problem finding some recipes... Or no one has created any.
        </p>
        {% endfor %}
    </div>
</div>
{% else %}
<h3 class="text-center p-3">No Recipes Found!</h3>
{% endif %}
{% endblock %}