{% extends "base.html" %}
{% block content %}

<div class="card card-form col-8">
    <div class="card-body">
        <h3 class="text-center">Register</h3>
        <form method="POST" action="{{ url_for('register') }}">
            <!-- USERNAME -->
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <i class="fas fa-user-ninja"></i>
                <input id="username" name="username" type="text" class="form-control" required>
            </div>
            <!-- PASSWORD -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <i class="fas fa-unlock-alt"></i>
                <input id="password" name="password" type="password" class="form-control" required>
            </div>
            <!-- REGISTER -->
            <button type="submit" class="btn btn-outline-dark btn-floating">
                Register
                <i class="fas fa-sign-in-alt"></i>
            </button>
        </form>
    </div>
</div>

{% endblock %}